/* @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500"); */

body {
    margin: 3rem;
    background-color: #feeced;
    color: #005866;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.sprintsites-table a {
    color: #005866;
    text-decoration: none;
}

.sprintsites-table td,
.sprintsites-table th {
    font-size: 1.2rem;
    color: #005866;

    /* border-bottom: none; */
}

.sprintsites-table tbody td {
    /* border-bottom: 1px solid #005866; */
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
}

header img {
    max-height: 30px;
    margin-right: 1rem;
}

header h1 {
    font-size: 1.25rem;
    font-weight: 400;
}

html {
    height: 100%;
}

img {
    max-width: 100%;
}
