@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f8f9;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
}

h1,
h2,
h3 {
    font-weight: 300;
}

/* Links */
a {
    text-decoration: none;
    color: seagreen;
}

/* Site Content */
.site-content {
    max-width: 90em;
    margin: 0 auto;
    padding-left: .5rem;
    padding-right: .5rem;
    min-height: 80vh;
}

/* Footer */
.footer {
    text-align: center;
}

/* Header */
.header {
    background-color: seagreen;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    align-items: center;
    height: 3.5rem;
}

.header-logo {
    color: white;
    font-weight: 600;
    font-size: 1.15rem;
    -webkit-font-smoothing: antialiased;
}

.oursites {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 2rem 8%;
    flex-wrap: wrap;
}

@media (min-width: 40em) {
    .oursites {
        flex-wrap: inherit;
    }
}
.oursites-item {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 1rem;
    background-color: #fff;
    border-radius: .2rem .2rem;
    /* box-shadow: 0 7px 14px 0 rgba(0, 0, 0, 0.07), 0 11px 14px 0 rgba(0, 0, 0, 0.04); */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 4px 0 rgba(0, 0, 0, 0.04);
    flex-wrap: wrap;
}

.oursites-item-header {
    box-shadow: none;
    background-color: transparent;
}

.oursites-item-header span {
    font-size: .85rem;
}

@media (min-width: 40em) {
    .oursites-item {
        flex-wrap: inherit;
    }
}

@media (min-width: 40em) {
    .oursites-item span {
        display: block;
        flex: 3;
    }
}

.toolbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem 8%;
}

.toolbar-amount {
    font-size: 1.5rem;
}
